/* Universal styles */
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

*{
    margin: 0px;
    padding: 0px;
}
.flex{
    display: flex;
}

.dark-bg{
    background-color: #1A0B2E;
}

.small-font{
    font-size: 1rem;
}

.our-button{
    padding: 12px 16px;
    font-weight: 600;
    border-radius: 10000px;
    background: linear-gradient(40deg, #F7E93F, #FB09B4, #9100F8);
    color: #ffffff;
    border: none;
}





/*nav bar */

.nav-container{
    border-bottom: 2px solid #412567;
}

.three-bars{
    display: none;
    width: 18px;
    height: 13.5px;
}

header img{
    width: 219px;
    height: 32p;
}


header nav{
    justify-content: space-between;
    width: 75%;
    margin: 0px auto;
    padding: 24px 0;
    align-items: center;

    /* border: 3px solid red; */
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
}

header nav ul{
    font-weight: 500;
    color: #ffffff;
}

/* Banner */
.banner{
    background: url(../assets/hero-bg.png);
    height: 746px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.banner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid yellow; */
    padding-top: 101px;
    padding-bottom: 101px;
}
.img-box{
    width: 350px;
    height: 350px;
    /* border: 1px solid red; */
    margin: 0px auto;
    margin-bottom: 40px;

    position: relative;
}

.circle{
    width: 350px;
    height: 350px;
    position: absolute;
}

.mic{
    width: 116.67px;
    height: 175px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.banner-container h1{
    font-size: 3.75rem;
    color: #ffffff;
    font-weight: 800;
    margin-bottom: 8px;
    text-align: center;
}

.banner-container p{
    color: #FFFFFFCC;
    margin-bottom: 24px;
    text-align: center;
}

.btn-group{
    display: flex;
    gap: 8px;
}

.btn-group button{
    font-size: 1rem;
}

#sub{
    border: 2px solid #00FF88;
    background: none;
    color: #00FF88;
}

.new{
    width: 75px;
    background-color: #00FF88;
    font-size: 18px;
    font-weight: 600;
    color: 1A0B2E;
    padding: 8px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;

    position: absolute;
    top: 12px;
    right: 23px;
}

/* PODCAST SECTION */

.podcast{
    background-color: #1A0B2E ; 
    color: #ffffff;
    text-align: center;
}

.text-container{
    width: 75%;
    margin: 0px auto;
    padding-top: 50px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.text-container h3{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 16px;
}

.text-container p, .card p{
    
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.25rem;

}

.card-container{
    width: 75%;
    margin: 0px auto;
    padding: 80px 0px 120px 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}

.card h3{
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
    margin-bottom: 16px;
}

/* why section */
.why{
    background-color: #230E3D;
    color: #ffffff;
    padding-bottom: 120px;
}

.why h1{
    text-align: center;
    padding: 120px 0px 40px 0px;
    font-size: 3rem;
    font-weight: bold;
}

.why-container{
    /* border: 1px solid yellow; */
    width: 75%;
    height: 738px;
    margin: 0px auto;
}

/*------------------------------ WHY GRID AREAS */

.audio{
    grid-area: audio;
}
.mobile{
    grid-area: mobile;
}

.global{
    grid-area: global;
}
.fast{
    grid-area: fast;
}
.rich{
    grid-area: rich;
}

.why-container{
    display: grid;
    gap: 30px;
    grid-template-areas: 
    "audio mobile mobile"
    "audio global global"
    "fast  fast   rich";
    height: 100%;
    /* padding-bottom: 120px; */
    /* border: 1px solid chocolate; */
}

.why-card{
    
    background-color:rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    padding: 40px;
    justify-content:center;
    align-items:flex-start;
    text-align: left;
}

.why-card h4{
    font-size: 1.5rem;
    font-weight: bold;
}

.why-card p{
    color: rgba(255, 255, 255, 0.408);
    line-height: 24px;
}

            
/* featured */
.featured{
    background-color: #1A0B2E;
    color: #ffffff;
    padding-top: 120px;
}

.featured h1{
    text-align: center;
    margin-bottom: 40px;
}

.featured-container{
    width: 75%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

iframe{
    width: 100%;
    border-top-left-radius:24px;
    border-top-right-radius:24px;
}

.featured h3{
    font-size: 1.5rem;
    margin-bottom: 12px;
}

.ft-text-box{
    padding: 24px;
}

.videos{
    /* width: 380px; */
    background-color: #250D44;
    border-radius: 24px;
}

.videos p{
    color: rgba(255, 255, 255, 0.595);
    line-height: 24px;
    margin-bottom: 12px;
}
.videos .dur{
    /* margin-bottom: 24px; */
    color: #00FF88;
    font-weight: 600;
}

/* host */

.host{
    background-color: #1A0B2E;
    color: #ffffff;
}

.host h1{
    text-align: center;
    font-size: 3rem;
    padding-top: 120px;
    padding-bottom: 40px;
}

.host-box{
    
    /* width: 75%; */
    
    background-color: #250D44;
    border-radius: 40px;
    
    padding: 40px;
    display: flex;
    gap: 24px;
    align-items: center;
}

.host-main-box{
    width:75%;
    margin: 0px auto;
}

.host-box h3{
    font-size: 2rem;
}

.host p{
    color: rgba(255, 255, 255, 0.603);
    line-height: 24px;
}

.host-info{
    /* border: 3px solid red; */
    /* padding: 0px 40px; */
    display: grid;
    gap: 16px;
    
}


.host-social{
    display: flex;
    gap: 8px;
    align-items: center;
}

.host-social img{
    padding: 15px;
    border: 1px solid #533C72;
    /* border-radius: 50%; */
}






/* response stuff */
@media screen and (max-width: 576px) {

    /* nav bar */
    .three-bars{
        display: block;
    }

    .subscribe button{
        display: none;
    }

    header nav ul{
        display: none;
    }

    .logo img{
        width: 137px;
        height: 20px;
    } 

    header nav{
        width: 90%;
    }

    /* banner */
    .banner{
        /* border: 1px solid cyan; */
        background: url(../mobile_header.png);
        width: 100%;
        height: 466px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      
    }

    .img-box, .circle{
        height: 200px;
        width: 200px;
    }

    .mic{
        width: 46.67px;
        height: 70px;
    }

    .new{
        top: 4px;
        right: 0px;
    }

    .banner-container{
        /* border: 1px solid pink; */
        width: 90%;
        margin: 0px auto;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .banner-container h1{
        font-size: 2.5rem;
    }

    .img-box{
        margin-bottom: 24px;
    }

    /* podcast */
    .text-container, .card-container{
        width: 90%;
        padding: 40px 0px;
    }

    .text-container h3{
        font-size: 2rem;
    }

    .card-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;

    }

    /* why section */

    .why-container{
        width: 90%;
        height: 100%;
        grid-template-areas: 
        "audio"
        "mobile"
        "global"
        "fast"
        "rich";

        gap: 16px;
    }

    .why h1{
        font-size: 2rem;
        padding: 40px 0px 16px 0px;
    }

    .why-card h4{
        font-size: 1.375rem;
    }

    .why-card{
        padding: 24px;
    }

    .why{
        padding-bottom: 40px;
    }

    .why-card p{
        font-size: 1rem;
    }

    /* featured */
    .featured-container{
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
    }

    .featured{
        padding-top: 40px;
        
    }

    .videos .dur{
        margin-bottom: 0px;
    }

    /* host */
    .host-box{
        text-align: center;
        flex-direction: column;
    }


    .host-social{
        justify-content: center;
    }

    .host h1{
        font-size: 2rem;
        padding-top: 60px;
        padding-bottom: 24px;
    }

    .host-box h3{
        font-size: 1.5rem;
    }
}