/* Universal styles */
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

*{
    margin: 0px;
    padding: 0px;
}
.flex{
    display: flex;
}

.dark-bg{
    background-color: #1A0B2E;
}

.small-font{
    font-size: 1rem;
}

.our-button{
    padding: 12px 16px;
    font-weight: 600;
    border-radius: 10000px;
    background: linear-gradient(40deg, #F7E93F, #FB09B4, #9100F8);
    color: #ffffff;
    border: none;
}





/*nav bar */

.nav-container{
    border-bottom: 2px solid #412567;
}

.three-bars{
    display: none;
    width: 18px;
    height: 13.5px;
}

header img{
    width: 219px;
    height: 32p;
}


header nav{
    justify-content: space-between;
    width: 75%;
    margin: 0px auto;
    padding: 24px 0;
    align-items: center;

    /* border: 3px solid red; */
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
}

header nav ul{
    font-weight: 500;
    color: #ffffff;
}

/* Banner */
.banner{
    
    background-color: #ffffff;

    border: 3px solid rgba(255, 0, 0, 0);   
    /*I used border for my better visualization. idk why removing the border causes the website to break. 
    so i just reduced the opacity lol */
      
    background: url("../assets/hero-bg.png");
    height: 760px;
    background-repeat: no-repeat;
    background-position: center; 
    background-size:contain;
    
    
}

.banner-container{
    width: 90%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 3px solid blue; */
    margin: 101px auto;
    text-align: center;
}

.banner-container h1{
    font-size: 3.75rem;
    color: #ffffff;
    font-weight: 800;
    margin-bottom: 8px;
}

.banner-container p{
    color: #FFFFFFCC;
    margin-bottom: 24px;
}

.wave{
    width: 100%;
}

.mic-bg{
    background: linear-gradient(40deg, #F7E93F, #FB09B4, #9100F8);
    height: 350px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    

}

.mic-bg img{
    width: 116.67px;
    height: 175px;
    
}

.new{
    width: 75px;
    background-color: #00FF88;
    font-size: 18px;
    font-weight: 600;
    color: 1A0B2E;
    padding: 8px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;

    position: absolute;
    top: 12px;
    right: 23px;
}

.center-img{
    display: flex;
    flex-direction: column;

    position: relative;
    margin-bottom: 40px;
}

.btn-group{
    display: flex;
    gap: 8px;
}

.btn-group button{
    font-size: 1rem;
}

#sub{
    border: 2px solid #00FF88;
    background: none;
    color: #00FF88;
}


/* response stuff */
@media screen and (max-width: 576px) {

    /* nav bar */
    .three-bars{
        display: block;
    }

    .subscribe button{
        display: none;
    }

    header nav ul{
        display: none;
    }

    .logo img{
        width: 137px;
        height: 20px;
    } 

    header nav{
        width: 90%;
    }

    /* banner */

    .mic-bg{
        height: 200px;
        width: 200px;
    }

    .mic-bg img{
        width: 46.67px;
        height: 70px;
    }

    .banner-container h1{
        font-size: 2.5rem;
    }

    .banner{
    height: 466px;
    background-repeat: no-repeat;
    background-position: center; 
    background-size:contain;
    }

    .new{
        top: 4px;
        right: 0px;
    }
}