/* Universal styles */
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

*{
    margin: 0px;
    padding: 0px;
}
.flex{
    display: flex;
}

.dark-bg{
    background-color: #1A0B2E;
}

.small-font{
    font-size: 1rem;
}

.our-button{
    padding: 12px 16px;
    font-weight: 600;
    border-radius: 10000px;
    background: linear-gradient(40deg, #F7E93F, #FB09B4, #9100F8);
    color: #ffffff;
    border: none;
}





/*nav bar */

.three-bars{
    display: none;
    width: 18px;
    height: 13.5px;
}

header img{
    width: 219px;
    height: 32p;
}


header nav{
    justify-content: space-between;
    width: 75%;
    margin: 0px auto;
    padding: 24px 0;
    align-items: center;

    /* border: 3px solid red; */
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
}

header nav ul{
    font-weight: 500;
    color: #ffffff;
}

/* Banner */
.banner{
    
    background-color: #ffffff;
    border: 3px solid red;
    background: url("../assets/hero-bg.png");
    height: 760px;
    background-repeat: no-repeat;
    background-position: center; 
    
    
}

.banner-container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid blue;
}

.banner-container h1{
    font-size: 3.75rem;
    color: #ffffff;
    font-weight: 800;
}

.banner-container p{
    color: #FFFFFFCC;
}

.wave{
    width: 100%;
}

.mic-bg{
    background: linear-gradient(40deg, #F7E93F, #FB09B4, #9100F8);
    height: 350px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    

}

.mic-bg img{
    width: 116.67px;
    height: 175px;
}

.new{
    width: 75px;
    background-color: #00FF88;
    font-size: 18px;
    font-weight: 600;
    color: 1A0B2E;
    padding: 8px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
}

.center-img{
    display: flex;
    flex-direction: column;
}


/* response stuff */
@media screen and (max-width: 576px) {

    /* nav bar */
    .three-bars{
        display: block;
    }

    .subscribe button{
        display: none;
    }

    header nav ul{
        display: none;
    }

    .logo img{
        width: 137px;
        height: 20px;
    } 

    header nav{
        width: 90%;
    }
}